node_modules
dist
.DS_Store
.env
.env.local
.env.*.local
.eslintcache
.cache
coverage
*.log
.vscode
.idea
cypress/screenshots
cypress/videos
cypress/downloads
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
